<div id="{{api.name}}" class="clearfix">
    <ul id="{{api.name}}*" class="list-inline pull-left endpoint-heading">
        <li>
            <h4>
                <a href="javascript:;" ng-click="api.open=!api.open;permalink(api.name)" ng-bind="api.name"></a>
                <span ng-if="api.description"> : <span ng-bind="api.description"></span></span>
            </h4>
        </li>
    </ul>
    <ul class="list-inline pull-right endpoint-actions">
        <li>
            <a href="javascript:;" ng-click="api.open=!api.open;permalink(api.name)" swagger-translate="endPointToggleOperations"></a>
        </li>
        <li>
            <a href="javascript:;" ng-click="expand(api);permalink(api.name)" swagger-translate="endPointListOperations"></a>
        </li>
        <li>
            <a href="javascript:;" ng-click="expand(api,true);permalink(api.name+'*')" swagger-translate="endPointExpandOperations"></a>
        </li>
    </ul>
</div>
<ul class="list-unstyled operations" ng-if="api.open">
    <li ng-repeat="op in api.operations track by $index" class="operation {{op.httpMethod}}" ng-include="'swagger/templates/operation.html'"></li>
</ul>
