@import 'vars';
@import 'typography';
@import 'swagger-ui';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}
