<pre highlight="cs" trim-empty-lines="true">
using System;
using System.Net;
using System.Text;

string url = @"{{infos.scheme}}://{{infos.host}}{{op.path}}{{controller.parseQueryString(controller.getParametersIn('query', op))}}";
WebRequest request = WebRequest.Create (url);
request.ContentType = "application/json; charset=UTF-8";
request.Accept = "application/json";
request.Method = "{{op.httpMethod | uppercase}}";

  <span ng-if="controller.hasParameterIn('body', op)">
var jsonContent = @"

    <span ng-repeat="parameter in controller.getParametersIn('body', op)" >
  {{parameter | parseParameter: 'csharp' | replaceAll: '"' : '""' }}
    </span>
";
System.Text.UTF8Encoding encoding = new System.Text.UTF8Encoding();
Byte[] byteArray = encoding.GetBytes(jsonContent);

using (Stream dataStream = request.GetRequestStream()) {
  dataStream.Write(byteArray, 0, byteArray.Length);
};
  </span>
try {
  using (HttpWebResponse response = (HttpWebResponse)request.GetResponse()) {

  }
}
catch (WebException ex) {

}
</pre>
