<pre highlight trim-empty-lines="true" >
curl -X {{op.httpMethod | uppercase}} '{{infos.scheme}}://{{infos.host}}{{op.path}}' \<br/>
  <span ng-repeat="parameter in op.parameters" >
    <span ng-if="parameter.in == 'body' || parameter.in == 'query'">
  -d '{{parameter.name}}={{parameter | parseParameter: 'curl' }}' \<br/>
    </span>
  </span>
  -H "Autorization: Bearer {token}"
</pre>
