curl
<br/>
<ng-include src="'swagger/directives/swagger-example/curl.html'"></ng-include>
<br/>
<br/>
Node.js
<br/>
<ng-include src="'swagger/directives/swagger-example/nodejs.html'"></ng-include>
<br/>
C#
<br/>
<ng-include src="'swagger/directives/swagger-example/csharp.html'"></ng-include>
