<pre class="prettyprint" highlight="javascript" trim-empty-lines="true">
const request = require('request-as-promise');
const options = {
  uri: `{{infos.scheme}}://{{infos.host}}{{op.path | replaceAll:'{':'@{' }}`,
  json: true,
  auth: {
    bearer: {{controller.getToken()}}
  }
};
    <span ng-if="controller.hasParameterIn('query', op)">
options.qs = {};
    </span>
    <span ng-if="controller.hasParameterIn('body', op)">
options.form = {};
    </span>
    <span ng-repeat="parameter in op.parameters" >
      <span ng-if="parameter.in === 'query' || parameter.in === 'body'">
options.{{parameter.in === 'query' ? 'qs' : 'form'}}.{{parameter.name}} = {{parameter | parseParameter: 'nodejs'}};
    </span>
    </span>
request.{{op.httpMethod}}(options);
  .then(function (response) {

  })
  .fail(function (error) {
});
</pre>
