<h1 class="heading -large">{{ home.title | ExampleFilter }}</h1>

<h3 class="heading -medium">Here is a fancy number served up courtesy of Angular: <span class="number-example">{{ home.number }}</span></h3>

<img src="images/angular.png" height="100" />
<img src="images/gulp.png" height="100" />
<img src="images/browserify.png" height="100" />

<hr/>
<div example-directive title="WOW!" click-message="You clicked me!">Directive is not loaded.</div>

<!--<swagger url="http://petstore.swagger.io/v2/swagger.json"></swagger>-->
<swagger url="http://flight.dev.travelhubapi.com.br/docs/v1/swagger" token="pHpKMgf6Im5umPxKdJh5LUc-a6sJUpz3DU4jQJJtQMMaKaznCa4123Fkc6Y3OjbxAsR-aPQZmY97K0XfnJYMGAg7gyyE5QXKN-dT8q91UWf_C1iWExZRE10CMeIRMO45FdmD_lnT59ZcsDWUuKWhQL_C9g0AbC6vnsygzrqVf8Ve3MPk1zzHl5E5gE0Z4B8NN7Bma-OZt1U25pYERPHYA5cVWy0B5tUwxRFjIwsl68-8nAx7_ffTAnOIEsGzRuaZ6a6LUZ7o_79XAG9UIxJxKDQ3A79EYL_LSlxEt-9G5vmUvITGpPYr4Ut20TVgNsW-6hKZ56Wz3SdpUu2QegDkaZTwrVDfVDwEctgp-1DechDQbwuH">
</swagger>

